<template name="home">
	<div class="jumbotron">
		<div class="whiteness">
			<img src="/logo-trans.png" class="">
		  <h1 class="logo">RISE</h1>
	  	<blockquote>
		  	<p>An inspiring quote from Mike about how much he loves his employees.
		  	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin viverra lorem et feugiat. Ut elit metus, scelerisque nec dictum non, accumsan a urna. Suspendisse potenti.
		  	</p>
				<footer>Mike English <cite title="Source Title">Managing Director</cite></footer>
			</blockquote>		
		</div>
		<!-- <img src="/monkey.png"> -->
	</div>
	<div class="row">
		<div class="col-md-6">
			{{> chart}}
		</div>
	</div>
	<!-- <div class="navbar navbar-default navbar-fixed-bottom" style="opacity:1.0;">
		<div class="container-fluid">    
			<div class="row-fluid">
				<div class="span 1">
					<p class="muted pull-right">© 2014 Cetus Solutions Ltd. All rights reserved</p>
				</div>
				<div class="span1">
					<img src="/logo.png" class="">
				</div>
			</div>
		</div>
	</div>	 -->
</template>