<template name="home">
	<div class="jumbotron">
		<div class="whiteness">
		  <h1 class="logo">RISE</h1>
		  <p>Cetus Solutions</p>
<!-- 	  	<blockquote>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
			</blockquote> -->
							<img src="/logo-trans.png" class="">
		
		</div>
		<!-- <img src="/monkey.png"> -->
	</div>
	<div class="row-fluid">
		<div class="col-md-6">
			{{> chart}}
		</div>
	</div>
	<!-- <div class="navbar navbar-default navbar-fixed-bottom" style="opacity:1.0;">
		<div class="container-fluid">    
			<div class="row-fluid">
				<div class="span 1">
					<p class="muted pull-right">© 2014 Cetus Solutions Ltd. All rights reserved</p>
				</div>
				<div class="span1">
					<img src="/logo.png" class="">
				</div>
			</div>
		</div>
	</div>	 -->
</template>