<template name="award_new">
		<!-- Header -->
		<!-- <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"> -->
		  <!-- <div class="modal-dialog modal-lg"> -->

<!-- 		    <div class="modal-content">
    	   	<div class="modal-header">
    	   		<h4>
		  				<span class="glyphicon glyphicon-star-empty"></span> Nominate someone for FMYG
		  			</h4>
	  			</div>
					<div class="modal-body"> -->
						<div class="container">
						{{> errors}}
							<form role="form" id="form">
								<div class="dropdown"> <p class="lead" id="nomineelabel"></p>
							    <a id="nomineeDropdown" class="btn btn-default" data-toggle="dropdown" href="#">
						        Who are you nominating?
						        <b class="caret"></b>
							    </a>
							    
							    <ul class="dropdown-menu dropdown-menu-form" role="menu">
	  								{{#each userList}}
							        <li>
						            <label class="checkbox">
					                <input type="checkbox" name="nominees" value="{{value}}">
					                {{label}} <br><small><p class="text-muted">{{email}}</p></small>
						            </label>
							        </li>
										{{/each}}
							    </ul>
								</div>
								<div class="form-group">
									<label for="reason">Reason</label>
									<textarea id="reason" class="form-control" rows="6" placeholder="Tell everyone why they're awesome!"></textarea>
								</div>
								<button type="button" class="btn btn-default btn-outline" id="submit">Shout it!</button>
							</form>
							<script type="text/javascript">
							    $('.dropdown-menu').on('click', function(e) {
							    if($(this).hasClass('dropdown-menu-form')) {
							        e.stopPropagation();
							    }
							});
							</script>
						</div> <!-- Container -->
					<!-- </div> Modal Body -->
				<!-- </div> Modal-content -->
		<!-- </div> -->
	<!-- </div> -->
	<!-- Show Modal on Load / on Hide navigate to '/' -->
<!-- 	<script type="text/javascript">
		$(document).ready(function(){
	  	// $('#myModal').modal({backdrop:'static'},'show')
	  	$('#myModal')
        .on('hidden.bs.modal', function() {
            Router.go('/awards');
        })
	  	$('#myModal').modal('show')
		});
	</script> -->
</template>


<template name="awardUserCheckbox">
	{{label}}
	{{value}}
</template>